li {
    text-align: start;
    padding: 0px;
    margin: 0px;
  }
  .button {
    list-style: none;
    list-style-type: none;
  }
  
  .image {
    display: flex;
    flex-direction: column;
    width: 575px;
    height: 500;
  }
  .text {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: disc;
    list-style: disc;
    margin-left: 100px;
  }
  .picture {
    width: 250px;
    height: 300px;
    list-style: none;
    list-style-type: none;
  }